#ring73 {
  margin: 0 auto;
  padding: 15px; /* creates some space around the widget */
}

#ring73 table {
  margin: 0 auto; /* centers the widget */
}

#ring73 table tr td {
  padding: 15px; /* creates some space between the links and text inside the widget */
}

#ring73 .webring-prev {
  text-align:right;
}

#ring73 .webring-info {
   text-align:center;
}

#ring73 .webring-next {
  text-align:left;
}

#ring73 .webring-links {
  font-size:small;
}